@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: violet;
}



.container {
  display: flex; 
  width: 90vw;
}


.panel{
  background-size: auto 100%;  
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}


/* here we make the text within the images become invisible and also position it at the left corner of the image */
.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* this makes the first image grow in size */
.panel.active{
  flex: 5;
}


/* in the active state this shows the h3 */ 
.panel.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


 /* this is the change of styles that occur when the screen is lesser than 480px
and we make thw container take up the whole screen , we also make sure the first
3 panels are the only ones which shows  */
@media(max-width: 480px) {
  .container{
    width: 100vw;
  }


  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}

